mysqlclient
Django==3.1.1
djangorestframework
uwsgi
cryptography
django-debug-toolbar 
drf-yasg 
django-filter
drf-nested-routers
djoser
djangorestframework-simplejwt
django-storages
boto3
python-decouple 
certifi
uwsgi
django-cleanup 
pillow
django-cors-headers